---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Bianca Sánchez · Portfolio">
  <Header />
  <Hero />
  <h1 class="font-cursive" style="font-size: 4rem; text-align: center; margin-top: 4rem;">
    Bianca Sánchez
  </h1>
</Layout>